/* ALL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none {
    display: none;
}

/* Backgrounds */
body {
    background-image: url(../img/cork.png);
}

header {
    background-image: url(../img/wall.png);
}

/* Title */
.title-header{
    font-family:'Sometype Mono', 'monospace';
    text-align: center;
    font-size: 7rem;
    padding: 1.5rem;
    font-style: italic;
}

/* Structure */
#container {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    margin: 0 auto;
    gap: 1.5rem;
    padding: 2rem 0 1rem 0;
}

/* Card */
.card {
    background-color: white;
    flex-basis: calc((100% - 3rem) / 3);
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem ;
}

.img-card {
    max-width: 100%;
}

.img-container {
    padding-top: 2rem;
}

.title-card {
    font-family: 'Sometype Mono', 'monospace';
    padding-top: 1rem;
}

.date-card {
    font-family: 'Edu Tas Beginner', sans-serif;
    padding-top: 1rem;
}

/* pin */
.pin {
    position: relative;
}

.img-pin {
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 777;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

#img-size{
    height: 600px;
    width: 600px;
}

#close-photo{
    background-color: red;
    transform: scale(1);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-weight: bold;
}





/* Responsive */
@media screen and (max-width: 790px) {

    .card {
        flex-basis: calc((100% - 2rem) / 2);
    }

    #container {
        width: 75%;
    }
}
 
@media screen and (max-width: 510px) {

    .card {
        flex-basis: 100%;
    }

    #container {
        width: 65%;
    }

    .title-header {
        font-size: 4.5rem;
    }

}