*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/cork.png);
}

header {
    background-image: url(../img/wall.png);
}

.title-header{
    font-family:'Sometype Mono', 'monospace';
    text-align: center;
    font-size: 7rem;
    padding: 1.5rem;
    font-style: italic;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    gap: 2rem;
    padding: 2rem 0 1rem 0;
}

.card {
    background-color: white;
    flex-basis: calc((100% - 4rem) / 3);
    margin-top: 1.5rem;
    padding: 0.5rem 1rem ;
}